<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,708},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,78}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,966},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,200},{120,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,5}}</string>
                <key>sourceSize</key>
                <string>{120,5}</string>
            </dict>
            <key>HPBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,200},{120,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,5}}</string>
                <key>sourceSize</key>
                <string>{120,5}</string>
            </dict>
            <key>PlayerHP.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,200},{300,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,10}}</string>
                <key>sourceSize</key>
                <string>{300,10}</string>
            </dict>
            <key>PlayerHPBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,134},{300,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,10}}</string>
                <key>sourceSize</key>
                <string>{300,10}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,955},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{357,130}}</string>
                <key>sourceSize</key>
                <string>{359,136}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,134},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,172},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,144},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>enemyLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{123,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,987},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,610},{125,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,987},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,960},{123,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,902},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,526},{125,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,902},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,830},{123,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,737},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{125,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,737},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,653},{123,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,708},{125,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,862},{123,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,835},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,650},{125,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,835},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,777},{123,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,705},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,578},{125,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{125,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,705},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>explode1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1027},{68,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,114},{68,78}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,490},{118,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,70},{118,164}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,198},{190,302}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{190,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{194,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,390},{98,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,59},{98,186}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,568},{80,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,61},{80,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,112},{68,80}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,588},{118,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,70},{118,164}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,194},{190,302}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{190,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{194,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,390},{98,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,59},{98,186}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,506},{80,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,61},{80,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,792},{68,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,114},{68,78}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,386},{118,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,70},{118,164}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{190,302}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{190,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{194,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,386},{98,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,59},{98,186}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,486},{80,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,61},{80,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>nomoney_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,862},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,872},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,778},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,960},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>towerPos.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,955},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Play.png</string>
            <key>size</key>
            <string>{1023,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6797fd5c8cd914152fc906f9a8e860be$</string>
            <key>textureFileName</key>
            <string>Play.png</string>
        </dict>
    </dict>
</plist>
